# docker-compose.yml

services:
  app:
    build: .
    ports:
      - "5173:5173"
    volumes:
      # Sync local folder with container folder for hot-reloading
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Fixes hot-reload on some systems